<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/js/jquery/jquery-3.5.1.min.js"></script>
    <script src="/js/jquery/jquery.form.js"></script>
    <style>
        .box{
            border: 1px solid #aaa;
            margin: 5px 0px;
            padding: 5px;
        }
        .line{
            border-bottom: 1px solid #ccc;
            padding-bottom: 5px;
        }
        .cell{
            width: 23%;
            display: inline;
        }
        .add-btn{
            display: inline;
            margin: 0 5px 0 0;
        }
    </style>
</head>
<body>
    <form id="plan-form" method="get" action="/plan/doIt">
        <div class="box">
            <div class="add-btn">
                <button>新增计划项</button>
            </div>
            <div class="cell">
                <button class="download">下载</button>
            </div>
        </div>
        <div class="box">
            <div class="cell">
                <span>计划名称：</span>
                <span><input name="name"></span>
            </div>
            <div class="cell">
                <span>计划时间：</span>
                <span><input name="planTime"></span>
            </div>
            <div class="cell">
                <span>计划类型：</span>
                <span id="cell-span">

                </span>
            </div>
            <div class="cell" id="result">
            </div>
        </div>
        <div class="box items">
            <div class="line">
                <div class="cell">
                    <span>计划项：</span>
                    <span><input name="items[0].name"></span>
                </div>
                <div class="cell">
                    <span>计划项类型：</span>
                    <span id="cell-select-plan-item-0"><input name="items[0].type"></span>
                </div>
                <div class="cell">
                    <span>权重：</span>
                    <span><input name="items[0].weight"></span>
                </div>
                <div class="cell">
                    <span>时间：</span>
                    <span><input name="items[0].startTime"></span>
                    <span>-</span>
                    <span><input name="items[0].endTime"></span>
                </div>
            </div>
        </div>

    </form>
</body>
<script>
    $(function(){
        var commonData;
        var itemIndex = 0;
        var planItemArray = [];
        var planItemTypeArray = [];
        //加载数据
        $.ajax({
            async:false,
            type:"post",
            dataType:"json",
            url:"/getBasicData",
            error:function (p1,p2,p3) {
                console.error(p1,p2,p3);
            },
            success:function (data) {
                console.info(data);
                commonData = data;
                init(data);
            }
        });


        function init(data){
            //计划类型
            planItemArray = data.planType;
            planItemTypeArray = data.planItemType;

            let selectPlanType = selectInit(planItemArray,'cell-plan-type','type');
            let selectPlanItemType = selectInit(planItemTypeArray,'cell-plan-item-type-'+itemIndex,'items[0].type');

            $("#cell-span").html(selectPlanType);
            $("#cell-select-plan-item-"+itemIndex).html(selectPlanItemType);
        }

        function selectInit(array,selectId,selectName){
            let selectContent = '<select id="'+selectId+'" name="'+selectName+'">';
            array.forEach(function(item){
                selectContent += '<option value ="'+item.value+'">'+item.name+'</option>';
            });
            selectContent += '</select>';
            return selectContent;
        }

        console.info("console.info(commonData):",commonData);
        $(".add-btn button").click(function () {
            itemIndex++;
            var line = '<div class="line">\n' +
                '                <div class="cell">\n' +
                '                    <span>计划项：</span>\n' +
                '                    <span><input name="items['+itemIndex+'].name"></span>\n' +
                '                </div>\n' +
                '                <div class="cell">\n' +
                '                    <span>计划项类型：</span>\n' +
                '                    <span id="cell-select-plan-item-'+itemIndex+'"><input name="items['+itemIndex+'].type"></span>\n' +
                '                </div>\n' +
                '                <div class="cell">\n' +
                '                    <span>权重：</span>\n' +
                '                    <span><input name="items['+itemIndex+'].weight"></span>\n' +
                '                </div>\n' +
                '                <div class="cell">\n' +
                '                    <span>时间：</span>\n' +
                '                    <span><input name="items['+itemIndex+'].startTime"></span>\n' +
                '                    <span>-</span>\n'+
                '                    <span><input name="items['+itemIndex+'].endTime"></span>\n' +
                '                </div>\n' +
                '            </div>';

            $('.items').append(line);
            let selectPlanItemType = selectInit(planItemTypeArray,'cell-plan-item-type-'+itemIndex,'items['+itemIndex+'].type');
            $("#cell-select-plan-item-"+itemIndex).html(selectPlanItemType);
            return false;
        });

    })
</script>
</html>